# Postgres
POSTGRES_USER=rdas-nev
POSTGRES_PASSWORD=inception123
POSTGRES_DB=pongdb
POSTGRES_CONTAINER=ft_transcendence_postgres
POSTGRES_PORT_LOCAL=5432
POSTGRES_PORT_DOCKER=5432

# Adminer
ADMINER_CONTAINER=ft_transcendence_adminer
ADMINER_PORT_LOCAL=8080
ADMINER_PORT_DOCKER=8080

# Backend
BACKEND_CONTAINER=ft_transcendence_backend
BACKEND_PORT_LOCAL=5000
BACKEND_PORT_DOCKER=5000

# Frontend
FRONTEND_CONTAINER=ft_transcendence_frontend
FRONTEND_PORT_LOCAL=3000
FRONTEND_PORT_DOCKER=3000
FRONTEND_URL=http://localhost:3000

# Network
NETWORK=ft_transcendence

# Seeding
TYPEORM_SEEDING_FACTORIES=backend/src/seeding/factories/user.factory.ts
TYPEORM_SEEDING_SEEDS=backend/src/seeding/seeds/initalSeed.ts

# Secrets
CLIENT_ID=
CLIENT_SECRET=

# Redirections
CALLBACK_URL=http://localhost:5000/auth/42/callback
FRONTEND_URL=http://localhost:3000